node_modules/

# Playwright output
reports/*
downloads/*
test-results/
playwright-report/
blob-report/

# Configs & secrets
configs/
.env
*.env
*.env.local

# TypeScript
*.js.map
dist/

# OS
.DS_Store
Thumbs.db
NUL

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# BrowserStack
log
browserstackSetupConfig.json
playwright-browserstack-sdk.config.temp.json
playwright-browserstack-sdk.config.ts
